.landing {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 3rem;
}

.landing__title {
  margin: 0;
  font-size: 4.5rem;
  line-height: 5.5rem;
  font-weight: 800;
}

.landing__heading {
  margin: 0;
  font-size: 2.5rem;
}

.landing__subheading {
  margin: 0;
  font-size: 2rem;
}

.landing__buttons {
  display: flex;
  gap: 2.5rem;
}

.landing__button {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  color: var(--black);
  background-color: var(--bright-green);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 2px 0px #00000024, 0px 2px 2px 0px #0000001f, 0px 1px 3px 0px #00000033;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.landing__button_more {
  color: var(--bright-green);
  background-color: var(--bright-green-opacity2);
  border: 1px solid var(--bright-green);
}

@media (hover: hover) and (pointer: fine) {
  .landing__button:hover {
    color: var(--bright-green);
    background-color: var(--bright-green-opacity2);
  }
  .landing__button_more:hover {
    background-color: var(--bright-green-opacity5);
  }
}

@media screen and (max-width: 1700px) {
  .landing__title {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  .landing__heading {
    font-size: 2rem;
  }

  .landing__subheading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1279px) {
  .landing__title {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }

  .landing__heading {
    font-size: 1.8rem;
  }

  .landing__subheading {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1023px) {
  .landing__title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .landing__heading {
    font-size: 1.3rem;
  }

  .landing__subheading {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .landing__title {
    font-size: 1.8rem;
  }
  .landing__buttons {
    gap: 1rem;
  }
  .landing__button {
    padding: 0.5rem 1rem;
  }
}
